<form (submit)="onSearch()">
    <div class="form-group">
        <label>Search for a movie or TV show:</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name" required>
        <button class="btn btn-primary">Search</button>
    </div>
</form>
<br><br>
<div class="container">
    <div class="row" *ngIf="movieData">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Title: {{movieData.Title}}</p>
            <img [src]="movieData.Poster" />
            <p>Genre: {{movieData.Genre}}</p>
            <p>Plot: {{movieData.Plot}}</p>
            <p>Actors: {{movieData.Actors}}</p>
            <p>Director:{{movieData.Director}}</p>
            <p>Awards: {{movieData.Awards}}</p>
            <button (click)="onClickSearchYoutube()">Watch trailer</button>
        </div>
        <div class="col-md-4" *ngIf="youtubeDataId">
            <h2>Heading</h2>
            <iframe id="ytplayer" type="text/html" width="640" height="360" [src]='youtubeURL | safe'></iframe>
        </div>
    </div>
</div>